body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FCFAEE;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
}

.banner {
    cursor: pointer;
}

nav {
    display: none; /* Initially hidden */
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    padding: 8px 20px;
}

nav a {
    text-decoration: none;
    color: #4CAF50;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
}
